* {
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    box-sizing: border-box; /* Inclui borda e preenchimento no tamanho total */
}

.h1Produtos{
    text-align: center;
}

#adicionarItens{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 180%;
    background-color: #00ff00;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: solid 2px
}